@import '_fonts';

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: #EFEFEF;
}

:first-child {
    margin-top: 0px;
}

body {
  font: 1em/1.4em 'Droid', sans-serif;
  padding: 1em;
  margin: 2em auto;
  max-width: 37em;
  border: 1px solid #CCC;
  border-radius: 5px;
  background: #FFF;
  height: auto;
  
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  :last-child {
    margin-bottom: 0px;
  }
}

#{headers()} {
  font-family: 'DroidBold', sans-serif;
  font-weight: normal;
  border-bottom: 1px solid #EFEFEF;
  margin-top:1.5em;
  padding-bottom: .3em;
}

pre {
  border: 1px solid #CCC;
  border-radius: 3px;
  line-height: 1.2em;
}